<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411058986195-ti489tku8cud6seqfv0efg33v2u97bdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411058986195-ti489tku8cud6seqfv0efg33v2u97bdb</string>
	<key>API_KEY</key>
	<string>AIzaSyBik2aEeli6Ra18bEluM795jfrxqP25-dY</string>
	<key>GCM_SENDER_ID</key>
	<string>411058986195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gozolt.gozoltUserApp</string>
	<key>PROJECT_ID</key>
	<string>gozolt-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>gozolt-testing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411058986195:ios:29303f78b46ea97bb0c826</string>
</dict>
</plist>